.seat-category {
  display: flex;
  justify-content: space-around;
  /* margin-bottom: 10px; */
}

.category {
  padding: 5px 5px;
  border-radius: 5px;
  font-weight: bold;
}

.seat-heading {
  text-align: center;
  color: rgba(255, 0, 0, 0.692);
}

.seat-grid {
  text-align: center;
}

.category.gold {
  background-color: gold;
  color: rgba(0, 0, 0, 0.767);
}

.category.silver {
  background-color: silver;
  color: rgba(0, 0, 0, 0.767);
}

.category.platinum {
  background-color: platinum;
  color: rgba(0, 0, 0, 0.767);
}

.seat {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 30px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
  

  
  font-size: small;
  border: 1px solid green; 
  color:green;
}

.seat.available {
color:  green;
  border-color:  green; 
}
.booked {
  background-color: yellow;
  cursor: not-allowed;
}

.seat.selected {
  background-color: blue;
  color:green;
  border-color: green; 
}

.seat.booked {
  background-color: rgba(255, 255, 0, 0.952);
  cursor: not-allowed;
  border-color: goldenrod; 
}

.book-btn {
  background-color: rgb(153, 2, 27); 
  color: white;
  border: none;
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 16px;
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 10px;
}

.book-btn:hover {
  background-color: rgb(120, 1, 18);
}

.book-btn:active {
  transform: scale(0.98); 
}

.book-btn:disabled {
  background-color: grey; 
  cursor: not-allowed; 
  opacity: 0.6; 
}
